:root {
    --blue: #0d6efd;
    --white: #ffffff;
    --lightblue: #008cff;
  }
  ::selection {
    color: var(--blue);
    background-color: var(--blue);
  }
  
  .custom-navbar {
    background-color: var(--lightblue);
  }
  
  .custom-navbar a {
    font-size: 1.5rem;
    color: var(--white);
  }
  
  .custom-navbar a:hover {
    color: var(--blue);
  }
  
  .custom-btn {
    background-color: var(--blue);
    color: var(--white);
  }
  
  .custom-btn:hover {
    background-color: var(--white);
    color: var(--blue);
  }
  
  .custom-card {
    border-color: var(--lightblue);
    color: var(--blue);
  }
  
  .custom-card-header {
    background-color: var(--lightblue);
    color: var(--white);
  }

  .custom-a {
    background-color: var(--blue);
    color: var(--white);
  }

  .custom-active {
    background-color: var(--blue);
    color: var(--white);
  }